body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    text-align: center;
    font-family: Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 1rem;
        
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-decoration: underline;
}

.navbar img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.hero {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 2rem;
}

.hero p {
    font-size: 141%;
    margin: 20px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6e6a6a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar.active {
    width: 250px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
    width: 20%;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.sidebar h2 {
    color: white;
    padding-left: 15px;
}

.sidebar form {
    padding: 15px;
}

.sidebar label, .sidebar select, .sidebar input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

h2 {
    width: 100%;
    margin-top: 30px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
    margin-left: 260px;
    padding: 1rem;
}

.product {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 240px;
    height: 355px;
}

.product img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

footer p {
    margin: 0;
}

#price-range-value {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
}

@media (max-width: 600px) {
    .navbar a {
        display: block;
        margin: 10px 0;
    }

    .hero {
        padding: 20px;
    }

    .hero p {
        font-size: 120%;
    }

    .products {
        padding: 10px;
    }

    .product {
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .products {
        margin-left: 0;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar.active {
        width: 100%;
    }

    .openbtn {
        display: block;
    }
}

